<div class="centered-content">
    <div class="white-box">
  
      <h1 class="title mb-3">Connexion</h1>
      
      <form>

        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
            <input  class="form-control" type="email"  name="username" [(ngModel)]="username" placeholder="email">
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
            <input   name="password" type="password" class="form-control" [(ngModel)]="password" placeholder="Mot de passe">
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class=" btn text-white" (click)="onLoginButtonClick()">Connexion</button>
        </div>
      </form>
      <br>
  
      <p class="has-text-grey">Vous n'avez pas de compte ? <a routerLink="/signup">S'inscrire</a> 
      <br>ou<br>
      - email : <strong>demo@demo.com</strong> <br>- mot de passe : <strong>password</strong>
      </p>
  
    </div>
  </div>