<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        modifier votre liste
      </h1>
  
       <input  class="form-control bg-light mt-3"      
        [(ngModel)]="listeTitre"
       type="text" > 
     
      <div class=" d-flex justify-content-end mt-3">
        <button class="btn btn-danger me-2" routerLink="/">Annuler</button>
        <button class="btn btn-valid text-white " (click)="updateList()">Valider</button> 
      </div>
  
      
    </div>
  </div>