
<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar bg-white">
        <h1 class="title">
          Liste
        </h1>


    <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of liste" [routerLink]="['/liste', list.id]" routerLinkActive="is-active" >
            <p>{{ list.titre }}</p>
        </a>
  

    </div>

    <button class="btn text-white" routerLink="/new-list" ><i class="fa-solid fa-plus"></i> Nouvelle liste</button>

    </div>

    <div class="task-list-container bg-light">
      <div *ngIf="tache">
        <div class="d-flex justify-content-between mb-3">
          <h1 class="title">
              Tâches
          </h1>
          <div class="dropdown" ngbDropdown #myDropdown="ngbDropdown" (mouseenter)="myDropdown.open()">
            <button class="btn" id="dropdownMenuButton" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-gear"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
              <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                <p>Modifier</p>
              </a>
              <a (click)="onDeleteListClick()" class="dropdown-item text-danger">
                <p>Supprimer</p>
              </a>
            
            </div>
          </div>
          
          
        </div>

    <div class="task" *ngFor="let tach of tache" (click)="tacheClick(tach)" [ngClass]="{ 'complete': tach.status }">
      <div class="task-text">
              <p>{{ tach.titre }}</p>
      </div>  
      <div class="task-buttons">
        <button class="btn text-success" [routerLink]="['/liste', selectedListId, 'edit-task', tach.id]"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
      <div class="task-buttons">
        <button class="btn text-danger"  (click)="onDeleteTaskClick(tach.id)"><i class="fa-solid fa-trash-can"></i></button>
      </div>
      </div>

      <h3 class="empty-state-text mt-5" *ngIf="tache.length === 0"> Cliquez sur le bouton <i class="fa-solid fa-plus" style="color:black"></i> pour créer une nouvelle tâche.</h3>

      <button routerLink="./new-task" class="circle-add-button btn">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </button>
    </div>

    <div *ngIf="!tache">
      <h3 class="empty-state-text">Sélectionnez une liste dans la barre latérale</h3>
    </div>

  </div>
</div>
