<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Créer une nouvelle tâche
      </h1>
  
       <input #taskTitleInput class="form-control bg-light mt-3" type="text" placeholder="Entrez votre tache..."> 
     
      <div class=" d-flex justify-content-end mt-3">
        <button class="btn btn-danger me-2" routerLink="/">Annuler</button>
        <button class="btn btn-valid text-white " (click)="createNewTask(taskTitleInput.value)">Valider</button> 
      </div>
  
      
    </div>
  </div>